<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://idtodispatcherportaldev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>idtodispatcherportaldev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$idtodispatcherportaldev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Repository.Providers.EntityFramework.DbContextBase" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Repository.Providers.EntityFramework.DbContextBase, Repository" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IDTOContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IDTO.Data.IDTOContext, IDTO.Data" MigrationConfiguration="IDTO.Data.Migrations.Configuration, IDTO.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:sfkee7y99k.database.windows.net,1433;Initial Catalog=IDTO_Test;Integrated Security=False;User ID=IDTO_ServiceUser@sfkee7y99k;Password=12Bu$y0-4B3@ver13;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DataConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:sfkee7y99k.database.windows.net,1433;Database=IDTO_Test;User ID=IDTO_ServiceUser@sfkee7y99k;Password=12Bu$y0-4B3@ver13;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IDTO.DispatcherPortal.Models.ApplicationDbContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IDTO.DispatcherPortal.Models.ApplicationDbContext, IDTO.DispatcherPortal" Origin="" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IDTOContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Repository.Providers.EntityFramework.DbContextBase-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="IDTO.DispatcherPortal.Models.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="IDTOContext" />
    <_ConnectionStringsToInsert Include="Repository.Providers.EntityFramework.DbContextBase" />
  </ItemGroup>
</Project>