@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>The Dispatcher Dashboard is the communication link between the IDTO Prototype and the Fixed Route/T-Connect Provider's operations manager.  The dashboard displays T-Connect requests to the Provider's operations manager and provides the means for the operations manager to confirm or reject requests and relay that information back to the T-Connect Opportunity Manager within the IDTO Prototype.  For the Phase I portion of this effort, the responsibility of relaying the status of the T-Connect request to a bus driver lies with the operations manager.</p>
