@{
    ViewBag.Title = "How it Works";
}

<div style="margin-top: 152px; box-shadow: 3px 3px 4px #000000;">
    <table width="660">
        <tr>
            <td>
                <table style="position: relative;" align="center">
                    <tr>
                        <td>
                            <img width="135" src="../Content/images/IDTO_iPhone5_Mockup.png" style="position:absolute; right: -320px; top: -100px" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="background-color: white;">
            <td>
                <table align="center" style="width:90%; " cellpadding="5">
                    <tr style="height: 10px;">
                        <td></td>
                    </tr>
                    <tr>
                        <td align="left" >
                            <p><b style="font-size: 18px; width: 460px">Welcome to Connect and Ride!</b></p>
                            <p style="width:460px">
                                Connect and Ride, known as C-Ride, is a user-friendly way to plan and manage trips using public transportation in the Greater Columbus area. The app provides users with an easy to understand, accessible method for managing public transportation use while preventing issues such as traffic congestion and reductions in vehicle emissions.
                            </p>
                            <p style="width:460px">
                                Using the C-Ride app or website, you can plan and coordinate both The Ohio State University’s Campus Area Busing System (CABS) and Central Ohio Transportation Authority (COTA) trips.
                            </p>
                            <p>
                                <b>Benefits of using C-Ride:</b>
                            </p>
                            <ul>
                                <li>View ride schedules, routes and bus stop locations available through COTA and CABS</li>
                                <li>Plan and schedule trips based on current location, intended destination, and desired departure and arrival times</li>
                                <li>Manage time more efficiently, with estimated walk times to and from bus stops and with access to estimated arrival times for COTA and CABS buses</li>
                                <li>Find alternative travel options, including requests for bus transfers, in the event of service disruptions associated with traffic</li>
                            </ul>
                            <p>
                                C-Ride is a valuable trip planning tool that can help to prevent missed connections through Connection Protection. The technology will notify COTA of approaching C-Ride users so that COTA may hold a bus for up to one minute*. 
                            </p>
                            <p>
                                <b>How to get started:</b>
                            </p>
                            <ul>
                                <li>Download the app or visit the website</li>
                                <li>Enter your name</li>
                                <li>Provide your email address</li>
                            </ul>
                            <p>
                                All of the data recorded by the C-Ride application is used by The Department of Transportation (DOT) to support its objective to study traffic congestion in metropolitan areas, like Columbus, and encourage the use of public modes of transportation, thus reducing vehicle emissions and the need to continually build and expand highway infrastructure.
                            </p>
                            <p>
                                Enjoy your C-Ride experience!
                            </p>
                        </td>
                    </tr>
                    <tr style="height: 10px;">
                        <td align="left"></td>
                    </tr>
                    <tr>
                        <td align="left">
                            <table align="left">
                                <tr>
                                    <td valign="top">
                                        <a href="https://itunes.apple.com/us/app/connect-and-ride/id840844670?mt=8&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);"></a>
                                    </td>
                                    <td width="20px"></td>
                                    <td valign="top">
                                        <a href="https://play.google.com/store/apps/details?id=idto.android">
                                            <img height="40" alt="Get it on Google Play"
                                                 src="../Content/images/en_generic_rgb_wo_45.png" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr style="height: 10px;">
                        <td align="left"></td>
                    </tr>
                    <tr style="height: 10px;">
                        <td align="left">
                            <p style="font-size: 11px;">
                                <i>*Subject to availability and schedule delays.</i>
                            </p>
                        </td>
                    </tr>
                    <tr style="height: 10px;">
                        <td align="left"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 5px; background-color: #F9AE40">
            <td></td>
        </tr>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}