<table align="center" style="width:100%">
    <tr>
        <td height="20px"></td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">
            Battelle IRB – BCO Line of Review <br>
            Approved on 9 May 2014; Approved to 1 May 2015
        </td>
    </tr>
    <tr>
        <td height="20px"></td>
    </tr>
    <tr>
        <td align="center" style="font-size: 18px; ">
            Research Study: “Connect and Ride (C-Ride)” Application
        </td>
    </tr>
    <tr>
        <td height="10px"></td>
    </tr>
    <tr>
        <td align="left">
            <p>
                Battelle is seeking adults who use public transportation in Columbus, Ohio to volunteer for a research study of an application that tries to make public transportation easier to use.
            </p>
            <p>
                The study will evaluate usage and usability of the C-Ride Application.  If you register and use the C-Ride Application, you will be a volunteer in the study.
            </p>
            <p style="font-style:italic">
                Do not register or use the C-Ride Application if you do not wish to participate in the research.
            </p>
            <p style="font-style:italic">
                By registering and using the C-Ride Application, you acknowledge that you meet the participation requirements
            </p>
            <p>
                REQUIREMENTS TO USE C-RIDE APPLICATION &amp; PARTICIPATE IN THIS RESEARCH
            </p>
            <ul>
                <li><b>You must be at least 18 years old</b> to participate and use the C-Ride Application.</li>
                <li><b>You must provide your email address and first and last name. </b> The C-Ride Application and we (the Battelle research team) will use this information to evaluate app usage and communicate with you. </li>
                <li><b>You will be asked to share your location. </b> The C-Ride application uses the location services in your smartphone to determine your location, recommend public transportation options, and determine whether you made your scheduled trip.  Although the C-Ride application will still provide benefit to you without accessing your smartphone’s location services, we recommend that you allow the C-Ride application to access your smartphone’s location services for optimal results.</li>
            </ul>
            <p>
                WHAT YOU SHOULD KNOW ABOUT BEING IN THE RESEARCH
            </p>
            <ul>
                <li><b>You will be asked to do questionnaires about using the C-Ride Application. </b> After you finish a trip, we may ask you to do a short questionnaire about your experience. Doing the questionnaires is voluntary, but your responses will help us improve the app.   </li>
                <li><b>The Battelle research team will have access to your data.  </b> Your data includes your name, email address, questionnaire responses, GPS location, and your scheduled trips. The C-Ride Application will notify the research team whenever you use it to schedule a trip. No one from the Battelle research team will contact you. </li>
                <li><b>Some of your data will be used for future research. </b> At the end of the study, we will prepare a report for the U.S. Department of Transportation and share the data with the DOT. No personal information about you will be included in the report or the data sent to DOT.   </li>
                <li><b>You may end your participation at any time </b> by either not using the C-Ride Application or deleting it from your smartphone. However, any information you have previously shared with us will be used for the research study.</li>
                <li><b>This C-Ride Application may cease to function at the end of the pilot </b></li>
            </ul>
            <p>
                POTENTIAL RISKS AND BENEFITS
            </p>
            <ul>
                <li><b>Risks. </b> Use of the C-Ride Application has similar risks to your privacy as your use of other applications with GPS. The research team will be able to associate you with your location any time you have scheduled a trip and use the C-Ride Application. We will keep your information in a secured e-server and private to the extent available by law. Only the Battelle research team will have access to your registration, questionnaire, GPS location, and trip information.     </li>
                <li><b>Benefits. </b> The C-Ride Application is intended to make using public transportation more efficient by providing you information and updates about your scheduled trips.  In the future, wide-spread use of the C-Ride Application may benefit society by lowering infrastructure requirements and costs.     </li>
            </ul>
            <p>
                If you have questions about our research study, you may contact us at <a href="mailto:connectandride@battelle.org">connectandride@battelle.org</a>, visit our website at <a href="http://www.connectandride.com">www.connectandride.com</a> , or you may speak with the Project Manager, by calling (614) 424-5806.
            </p>
            <p>
                If you have questions about your rights as a participant in research, you may speak with a representative of our Institutional Review Board (IRB) at 614-424-7648.  The IRB reviews and approves human subjects research studies.
            </p>
        </td>
    </tr>
    <tr>
        <td height="10px"></td>
    </tr>
</table>