@{
    ViewBag.Title = "User Tips";
}

<div style="box-shadow: 3px 3px 4px #000000;">
    <table width="660">
        <tr>
            <td>
                <img src="../Content/images/AboutUS_Image.jpg" />
            </td>
        </tr>
        <tr style="background-color: white;">
            <td>
                <table align="center" style="width:90%; " cellpadding="5">
                    <tr style="height: 10px;">
                        <td></td>
                    </tr>
                    <tr>
                        <td align="left">
                            <p><h3>User Tips</h3></p>
                            <br/><p><h4>Login with your account information</h4></p>
                            <p>Tip: Forgot your password? Click “forgot your password” at connectandride.com to reset your login information.</p>
                            <br /><p><h4>Plan your trip by selecting “Plan Trip”</h4></p>
                            <p>Tip: Be sure to enter an existing address in both the Start and End text boxes. You may also click the arrow to choose “Current Location.”</p>
                            <br /><p><h4>Adjust the trip to meet your needs</h4></p>
                            <p>Tip: Specify either a departure or an arrival time to customize the route for your schedule. You can even select a comfortable walking distance.</p>
                            <br /><p><h4>Find the best trip result for you</h4></p>
                            <p>Tip: Choose the result that best meets your needs. Then, click on the “map” icon in the top right to see the step-by-step directions on a map.</p>
                            <br /><p><h4>Be sure to save your trip</h4></p>
                            <p>Tip: Before leaving the trip details, click “Save” at the bottom of the screen.</p>
                            <br /><p><h4>Look for updates</h4></p>
                            <p>Tip: The application will send push notifications and alerts in the event of service disruptions to keep you up-to-date on your trip plans.</p>
                        </td>
                    </tr>
                    <tr style="height: 10px;">
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 5px; background-color: #F9AE40">
            <td></td>
        </tr>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}