<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <urlCompression doDynamicCompression="true" />
	    <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
	      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="60.00:00:00" />
	    </staticContent>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="dzyuzin@uw.edu">
                <network defaultCredentials="false" host="localhost" password="" userName="" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
