<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Production</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://idtowebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-009.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IdtoWebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IdtoWebApi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=idtodev;AccountKey=aB1n/kG3j07fJ9VvHJLejMWnQ2hLBhKXeEJAv1wJj/YXbKVFA6dP25ALfokDWjl0WQfdTpMzIHQR+z0aAITMow==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=idtodev;AccountKey=aB1n/kG3j07fJ9VvHJLejMWnQ2hLBhKXeEJAv1wJj/YXbKVFA6dP25ALfokDWjl0WQfdTpMzIHQR+z0aAITMow==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Repository.Providers.EntityFramework.DbContextBase" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Repository.Providers.EntityFramework.DbContextBase, Repository" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IDTOContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IDTO.Data.IDTOContext, IDTO.Data" MigrationConfiguration="IDTO.Data.Migrations.Configuration, IDTO.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IDTOContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Repository.Providers.EntityFramework.DbContextBase-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Repository.Providers.EntityFramework.DbContextBase" />
  </ItemGroup>
</Project>