<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="soapBinding2" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="driverManagementServiceSoapBinding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="messagesServiceSoapBinding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="addressServiceSoapBinding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="ordersServiceSoapBinding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="objectsAndPeopleReportingServiceSoapBinding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="tripAndTimeReportingServiceSoapBinding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://soap.business.tomtom.com/v1.13/driverManagementService"
        binding="basicHttpBinding" bindingConfiguration="soapBinding2"
        contract="DriverManagementService.driverManagement" name="driverManagementPort" />
      <endpoint address="https://soap.business.tomtom.com/v1.13/messagesService"
        binding="basicHttpBinding" bindingConfiguration="soapBinding2"
        contract="MessagesService.messages" name="messagesPort" />
      <endpoint address="https://soap.business.tomtom.com/v1.13/addressService"
        binding="basicHttpBinding" bindingConfiguration="soapBinding2"
        contract="StreetAddressService.address" name="addressPort" />
      <endpoint address="https://soap.business.tomtom.com/v1.13/addressService"
        binding="basicHttpBinding" bindingConfiguration="soapBinding2"
        contract="AddressService.address" name="addressPort2" />
      <endpoint address="https://soap.business.tomtom.com/v1.13/ordersService"
        binding="basicHttpBinding" bindingConfiguration="soapBinding2"
        contract="OrdersService.orders" name="ordersPort" />
      <endpoint address="https://soap.business.tomtom.com/v1.13/objectsAndPeopleReportingService"
        binding="basicHttpBinding" bindingConfiguration="soapBinding2"
        contract="ReportingService.objectsAndPeopleReporting" name="objectsAndPeopleReportingPort" />
      <endpoint address="https://soap.business.tomtom.com/v1.13/tripAndTimeReportingService"
        binding="basicHttpBinding" bindingConfiguration="soapBinding2"
        contract="TripReportingService.tripAndTimeReporting" name="tripAndTimeReportingPort" />
    </client>
  </system.serviceModel>
</configuration>