<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--add name="Entities" connectionString="metadata=res://*/InfloDb.InfloDb.csdl|res://*/InfloDb.InfloDb.ssdl|res://*/InfloDb.InfloDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.7.100;initial catalog=inflodev-db-sql;user id=inflo;password=B@ttelle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <add name="Entities" connectionString="metadata=res://*/InfloDb.InfloDb.csdl|res://*/InfloDb.InfloDb.ssdl|res://*/InfloDb.InfloDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.7.101;initial catalog=inflotst-db-sql;persist security info=True;user id=inflo;password=B@ttelle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>